app-shopping-list {             

    display: block;
    left: 0;


    min-width: 600px;
    max-width: 1000px;
    width: 1000px   


}

#list {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #list td, #users th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #list tr:nth-child(even){background-color: #f2f2f2;}
  
  #list tr:hover {background-color: #ddd;}
  
  #list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(22, 97, 61);
    color: white;
  }


  .container {
    justify-content:center;
  }